body{
    text-align: center !important;
    background-image: url("background.png");
    font-family: 'Courier New', Courier, monospace;
}

img{
    width: 400px;
    height: auto;
}

input{
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}
#signin form{
    display: block;
    width: fit-content;
    margin: 30px auto 10px auto;
}

#signup{
    display: none;
    margin-top: 30px;
    width: fit-content;
    margin: 30px auto 0 auto;
}

#createacc{
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes slidein {
    0% {
      margin-right: 50px;
    }
    50% {
      margin-left: 200px;
    }
    100% {
      margin-right: 50px;
    }
  }

